@model LoginUser
@{
    Layout = "_SubPageLayout.cshtml";
    ViewBag.Title = "修改密码";
}

@using (Html.BeginForm("ChangePwd", "User", FormMethod.Post))
{
    <div class="container">
        <div class="row">
            @Html.PasswordBlockFor(m => m.OldPassword, "col-xs-12")
            @Html.ValidationMessageFor(m => m.OldPassword)
            @Html.PasswordBlockFor(m => m.NewPassword, "col-xs-12")
            @Html.ValidationMessageFor(m => m.NewPassword)
            @Html.PasswordBlockFor(m => m.ConfirmPwd, "col-xs-12")
            @Html.ValidationMessageFor(m => m.ConfirmPwd)
        </div>
        <div class="row">
            
        </div>
        <div class="panel-footer center">
            <div class="btn-group">
                <button class="btn btn-primary" type="button" id="btn_Save">保存</button>
                <button class="btn btn-default" type="button" onclick="WGX.ColorBox.Close()">关闭</button>
            </div>
        </div>
    </div>
    
}
@section scripts{
    <script>
        $(function() {
            $("#btn_Save").click(function() {
                var formdata = $("form").serialize();
                $.ajax({
                    url: '@Url.Action("ChangePwd", "User", new { area = ""})',
                    data: formdata,
                    type: 'post',
                    dataType: 'json',
                    success: function(data) {
                        if (data.success) {
                            top.window.location.reload();
                        } else {
                            alert(data.message);
                        }
                    }
                });
            });
        })
    </script>
}