@using WGX.Common.Helper
@model BaseModule
@{
    ViewBag.Title = "Create";
    var datas = PageDatas.GetInstance();
    var menuList = datas.GetModulesSelectList(true);
}

@using (Html.BeginForm())
{
    <div class="container">
        <div class="row">
            @Html.HiddenFor(m => m.ID)
            @Html.TextBlockFor(m => m.ModuleCode, "col-xs-4")
            @Html.TextBlockFor(m => m.ModuleName, "col-xs-4")
            @Html.TextBlockFor(m => m.ModuleUrl, "col-xs-4")
            @Html.CheckBoxBlockFor(m => m.IsBack, "col-xs-4")
            @Html.CheckBoxBlockFor(m => m.IsMenu, "col-xs-4")
            @Html.TextBlockFor(m => m.ImgUrl, "col-xs-4")
            @Html.TextBlockFor(m => m.Icon, "col-xs-4")
            @Html.TextBlockFor(m => m.ModuleOrder, "col-xs-4")
            @Html.DropDownBlockFor(m => m.ParentID, menuList,  "col-xs-4")
            @Html.BoolDropDownListBlockFor(m => m.Valid, "有效", "无效", "col-xs-4")
        </div>
        <div>
            @Html.ValidationSummary()
        </div>
        
        <div class="row">
            <div class="panel-footer center">
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-primary" type="submit" value="Save">保存</button>
                    <button class="btn btn-default" type="button" value="ReturnToList" id="btnReturnList">返回</button>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{
    <script>
        $(function() {
            $("#btnReturnList").click(function() {
                IndexPageHelper.GoToIndex('@Url.Action("Index")');
            });
        });
    </script>
}